.link {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  color: #000;

  &:global(.active) {
    font-weight: bold;
  }
}

.nav {
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}
